
**.vs
**bin
**obj
/MyHeart.Api/OpenData
/MyHeart.Api/.openDataInit
/MyHeart.Api/appsettings.Development.json
/MyHeart.Api/dl
/MyHeart.Web/which.cmd
/MyHeart.Web/which
/MyHeart.Web/webpack.cmd
/MyHeart.Web/webpack-cli.cmd
/MyHeart.Web/webpack-cli
/MyHeart.Web/webpack
/MyHeart.Web/vsvg.cmd
/MyHeart.Web/vsvg
/MyHeart.Web/uuid.cmd
/MyHeart.Web/uuid
/MyHeart.Web/uglifyjs.cmd
/MyHeart.Web/uglifyjs
/MyHeart.Web/tsserver.cmd
/MyHeart.Web/tsserver
/MyHeart.Web/tslint.cmd
/MyHeart.Web/tslint
/MyHeart.Web/tsc.cmd
/MyHeart.Web/tsc
/MyHeart.Web/terser.cmd
/MyHeart.Web/terser
/MyHeart.Web/svgo.cmd
/MyHeart.Web/svgo
/MyHeart.Web/stylus.cmd
/MyHeart.Web/stylus
/MyHeart.Web/strip-indent.cmd
/MyHeart.Web/strip-indent
/MyHeart.Web/sshpk-verify.cmd
/MyHeart.Web/sshpk-verify
/MyHeart.Web/sshpk-sign.cmd
/MyHeart.Web/sshpk-sign
/MyHeart.Web/sshpk-conv.cmd
/MyHeart.Web/sshpk-conv
/MyHeart.Web/sha.js.cmd
/MyHeart.Web/sha.js
/MyHeart.Web/semver.cmd
/MyHeart.Web/semver
/MyHeart.Web/sassgraph.cmd
/MyHeart.Web/sassgraph
/MyHeart.Web/sass.cmd
/MyHeart.Web/sass
/MyHeart.Web/rimraf.cmd
/MyHeart.Web/rimraf
/MyHeart.Web/regjsparser.cmd
/MyHeart.Web/regjsparser
/MyHeart.Web/prettier.cmd
/MyHeart.Web/prettier
/MyHeart.Web/not-in-publish.cmd
/MyHeart.Web/not-in-publish
/MyHeart.Web/not-in-install.cmd
/MyHeart.Web/not-in-install
/MyHeart.Web/nopt.cmd
/MyHeart.Web/nopt
/MyHeart.Web/node-sass.cmd
/MyHeart.Web/node-sass
/MyHeart.Web/node-gyp.cmd
/MyHeart.Web/node-gyp
/MyHeart.Web/mkdirp.cmd
/MyHeart.Web/mkdirp
/MyHeart.Web/mime.cmd
/MyHeart.Web/mime
/MyHeart.Web/miller-rabin.cmd
/MyHeart.Web/loose-envify.cmd
/MyHeart.Web/loose-envify
/MyHeart.Web/json5.cmd
/MyHeart.Web/json5
/MyHeart.Web/jsesc.cmd
/MyHeart.Web/jsesc
/MyHeart.Web/js-yaml.cmd
/MyHeart.Web/js-yaml
/MyHeart.Web/in-publish.cmd
/MyHeart.Web/in-publish
/MyHeart.Web/in-install.cmd
/MyHeart.Web/in-install
/MyHeart.Web/import-local-fixture.cmd
/MyHeart.Web/import-local-fixture
/MyHeart.Web/html-minifier.cmd
/MyHeart.Web/html-minifier
/MyHeart.Web/he.cmd
/MyHeart.Web/he
/MyHeart.Web/esvalidate.cmd
/MyHeart.Web/esvalidate
/MyHeart.Web/esparse.cmd
/MyHeart.Web/esparse
/MyHeart.Web/errno.cmd
/MyHeart.Web/errno
/MyHeart.Web/dotnet-run.cmd
/MyHeart.Web/dotnet-run
/MyHeart.Web/detect-libc.cmd
/MyHeart.Web/detect-libc
/MyHeart.Web/cssesc.cmd
/MyHeart.Web/cssesc
/MyHeart.Web/browserslist.cmd
/MyHeart.Web/browserslist
/MyHeart.Web/babylon.cmd
/MyHeart.Web/babylon
/MyHeart.Web/atob.cmd
/MyHeart.Web/atob
/MyHeart.Web/ansi-html.cmd
/MyHeart.Web/ansi-html
/MyHeart.Web/acorn.cmd
/MyHeart.Web/acorn
*.csproj.user