@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" type="text/css" href="~/dist/main.css">

    <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">

}

<div id='app-root'>
    <div class="col-12 text-center">Loading...</div>
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
