@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" type="text/css" href="~/dist/main.css">    
}

<div id='app-root'>
    <div class="col-12 text-center">Loading...</div> 
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
