<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    <add key="DevExpress" value="https://nuget.devexpress.com/uqIw986Ae3Vkf92VGsEPhKWscjKvo1ldOaFpD3gd5jP8KmA1vr/api" />
  </packageSources>
</configuration>